<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idan.home">

    <application>
        <activity
            android:name=".ui.nav.NavActivity"
            android:label="@string/title_activity_nav"></activity>
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.paging.PagingActivity" />
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>